<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{petImg.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{petImg.list.headline}]]</h1>
                <div>
                    <a th:href="@{/petImgs/add}" class="btn btn-primary ms-2">[[#{petImg.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${petImgs.empty}">[[#{petImg.list.empty}]]</div>
            <div th:if="${!petImgs.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{petImg.petImgId.label}]]</th>
                            <th scope="col">[[#{petImg.savePath.label}]]</th>
                            <th scope="col">[[#{petImg.type.label}]]</th>
                            <th scope="col">[[#{petImg.originName.label}]]</th>
                            <th scope="col">[[#{petImg.renamedName.label}]]</th>
                            <th scope="col">[[#{petImg.pet.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="petImg : ${petImgs}">
                            <td>[[${petImg.petImgId}]]</td>
                            <td>[[${petImg.savePath}]]</td>
                            <td>[[${petImg.type}]]</td>
                            <td>[[${petImg.originName}]]</td>
                            <td>[[${petImg.renamedName}]]</td>
                            <td>[[${petImg.pet}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/petImgs/edit/{petImgId}(petImgId=${petImg.petImgId})}" class="btn btn-sm btn-secondary">[[#{petImg.list.edit}]]</a>
                                    <form th:action="@{/petImgs/delete/{petImgId}(petImgId=${petImg.petImgId})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{petImg.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
