<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{vaccine.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{vaccine.add.headline}]]</h1>
                <div>
                    <a th:href="@{/vaccines}" class="btn btn-secondary">[[#{vaccine.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('vaccine')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='vaccine', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccine', field='period', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccine', field='boosterCycle', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccine', field='boosterCount', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccine', field='additionalCycle', required=true, type='number')}" />
                <input type="submit" th:value="#{vaccine.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
