<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{vaccination.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{vaccination.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/vaccinations}" class="btn btn-secondary">[[#{vaccination.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('vaccination')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='vaccinationId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='vaccineAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='vaccineType', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='count', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='isVaccine', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='vaccine', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vaccination', field='pet', required=true, type='select')}" />
                <input type="submit" th:value="#{vaccination.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
